@charset "UTF-8";

a, a:hover {color:#000; text-decoration:none;}

header {height:100px;}
.contents {height:auto;}
footer {height:100px;}

.store:hover {background-color: cornflowerblue;}
.review {background-color:lightgray;}