@charset "UTF-8";

a, a:hover {color:#000; text-decoration:none;}

header {height:100px;}
.contents {height:auto;}
footer {height:80px;}

nav {background-color:chocolate;}
nav a:hover {background-color:saddlebrown;}

.reservation-box {width:500px; margin:auto;}

.main-box {height:250px;}
.main-box-side {background-color:saddlebrown;}
.main-box-center {background-color:chocolate;}